# Objective of the analysis

To determine european citizens migration (Non UK, non Ireland) through the years in Ireland, trying to predict some forecasting as well.

#### Emigration:
Emigration refers to the act of leaving one's country or region to settle in another. It involves moving away from a particular country, usually for reasons such as seeking better economic opportunities, escaping political or social instability, or reuniting with family members in another country. The focus of emigration is on the departure from the country of origin.

#### Immigration:
Immigration refers to the act of entering and settling in a new country or region. It involves moving into a foreign country with the intention of residing there, whether temporarily or permanently. Immigrants are individuals who have left their home country and are now residing in a different country, which is their host country. The focus of immigration is on the arrival and settlement in the host country.

#### Migration:
Migration is a broader term that encompasses both emigration and immigration. It refers to the overall movement of people from one place (e.g., country, region, city) to another. Migration can be internal (within a country) or international (between countries). It includes various forms of movement, such as seasonal migration, forced migration, voluntary migration, and more.

In [2]:
import pandas as pd

emigration = pd.read_csv("../Data/Estimated_Emigration.csv") 
immigration = pd.read_csv("../Data/Estimated_Immigration.csv")

# Estimated Emigration

In [3]:
emigration.head()

,Statistic Label,Year,Sex,Citizenship,UNIT,VALUE
0,Estimated Emigration (Persons in April),2006,Both sexes,All Countries,Thousand,36.0
1,Estimated Emigration (Persons in April),2006,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.1
2,Estimated Emigration (Persons in April),2006,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.2
3,Estimated Emigration (Persons in April),2006,Both sexes,United Kingdom,Thousand,2.2
4,Estimated Emigration (Persons in April),2006,Both sexes,Ireland,Thousand,15.3

In [4]:
emigration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  324 non-null    object
 1   Year             324 non-null    int64
 2   Sex              324 non-null    object
 3   Citizenship      324 non-null    object
 4   UNIT             324 non-null    object
 5   VALUE            324 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 15.3+ KB

In [5]:
emigration["Citizenship"].unique()

array(['All Countries',
       'EU14 excl Irl (countries in the EU pre 2004 excluding UK & Ireland)',
       'EU15 to EU27 (accession countries joined post 2004)',
       'United Kingdom', 'Ireland',
       'All countries excluding Ireland,United Kingdom and EU272020'],
      dtype=object)

In [18]:
filtered_emigration = emigration.loc[emigration["Citizenship"].isin(["EU14 excl Irl (countries in the EU pre 2004 excluding UK & Ireland)",
                                            "EU15 to EU27 (accession countries joined post 2004)"])]

In [19]:
filtered_emigration.head()

,Statistic Label,Year,Sex,Citizenship,UNIT,VALUE
1,Estimated Emigration (Persons in April),2006,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.1
2,Estimated Emigration (Persons in April),2006,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.2
7,Estimated Emigration (Persons in April),2006,Male,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,2.5
8,Estimated Emigration (Persons in April),2006,Male,EU15 to EU27 (accession countries joined post ...,Thousand,3.7
13,Estimated Emigration (Persons in April),2006,Female,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,2.6

In [20]:
filtered_emigration = filtered_emigration.loc[filtered_emigration["Sex"] == "Both sexes"]

In [21]:
filtered_emigration

,Statistic Label,Year,Sex,Citizenship,UNIT,VALUE
1,Estimated Emigration (Persons in April),2006,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.1
2,Estimated Emigration (Persons in April),2006,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.2
19,Estimated Emigration (Persons in April),2007,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,8.9
20,Estimated Emigration (Persons in April),2007,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,12.6
37,Estimated Emigration (Persons in April),2008,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.0
38,Estimated Emigration (Persons in April),2008,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,17.2
55,Estimated Emigration (Persons in April),2009,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,7.4
56,Estimated Emigration (Persons in April),2009,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,30.5
73,Estimated Emigration (Persons in April),2010,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,9.0
74,Estimated Emigration (Persons in April),2010,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,19.0
91,Estimated Emigration (Persons in April),2011,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,10.2
92,Estimated Emigration (Persons in April),2011,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,13.9
109,Estimated Emigration (Persons in April),2012,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.9
110,Estimated Emigration (Persons in April),2012,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,9.0
127,Estimated Emigration (Persons in April),2013,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,7.2
128,Estimated Emigration (Persons in April),2013,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,8.2
145,Estimated Emigration (Persons in April),2014,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.3
146,Estimated Emigration (Persons in April),2014,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.6
163,Estimated Emigration (Persons in April),2015,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.0
164,Estimated Emigration (Persons in April),2015,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.1
181,Estimated Emigration (Persons in April),2016,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.7
182,Estimated Emigration (Persons in April),2016,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,6.8
199,Estimated Emigration (Persons in April),2017,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.7
200,Estimated Emigration (Persons in April),2017,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,9.1
217,Estimated Emigration (Persons in April),2018,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.1
218,Estimated Emigration (Persons in April),2018,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,6.4
235,Estimated Emigration (Persons in April),2019,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,4.5
236,Estimated Emigration (Persons in April),2019,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.0
253,Estimated Emigration (Persons in April),2020,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.0
254,Estimated Emigration (Persons in April),2020,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,8.1
271,Estimated Emigration (Persons in April),2021,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,7.5
272,Estimated Emigration (Persons in April),2021,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,5.1
289,Estimated Emigration (Persons in April),2022,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,4.7
290,Estimated Emigration (Persons in April),2022,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,4.6
307,Estimated Emigration (Persons in April),2023,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,6.9
308,Estimated Emigration (Persons in April),2023,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,7.3

# Estimated Immigration

In [10]:
immigration.head()

,Statistic Label,Year,Sex,Citizenship,UNIT,VALUE
0,Estimated Immigration (Persons in April),1996,Both sexes,All Countries,Thousand,39.2
1,Estimated Immigration (Persons in April),1996,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.0
2,Estimated Immigration (Persons in April),1996,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,NaN
3,Estimated Immigration (Persons in April),1996,Both sexes,United Kingdom,Thousand,8.3
4,Estimated Immigration (Persons in April),1996,Both sexes,Ireland,Thousand,17.7

In [11]:
immigration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  504 non-null    object
 1   Year             504 non-null    int64
 2   Sex              504 non-null    object
 3   Citizenship      504 non-null    object
 4   UNIT             504 non-null    object
 5   VALUE            477 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 23.8+ KB

In [17]:
immigration["Citizenship"].unique()

array(['All Countries',
       'EU14 excl Irl (countries in the EU pre 2004 excluding UK & Ireland)',
       'EU15 to EU27 (accession countries joined post 2004)',
       'United Kingdom', 'Ireland',
       'All countries excluding Ireland,United Kingdom and EU272020'],
      dtype=object)

In [30]:
import pandas as pd

estimates = pd.read_csv("../Data/Population_estimates_from_1926.csv")

In [31]:
estimates.head()

,STATISTIC Label,Year,Single Year of Age,Sex,UNIT,VALUE
0,Population estimates from 1926,1926,All ages,Both sexes,Number,2971992
1,Population estimates from 1926,1926,All ages,Male,Number,1506889
2,Population estimates from 1926,1926,All ages,Female,Number,1465103
3,Population estimates from 1926,1926,Under 1 year,Both sexes,Number,55391
4,Population estimates from 1926,1926,Under 1 year,Male,Number,28084